{% extends 'base.html' %}

{% block title %}Contact{% endblock title %}

{% block body %}
<div class="container my-3">
<form method="post" action="/contact">
{% csrf_token %}
<div class="row">
  <div class="col">
    <input type="text" class="form-control" placeholder="First name" aria-label="First name" name="fname">
  </div>
  <div class="col">
    <input type="text" class="form-control" placeholder="Last name" aria-label="Last name" name="lname">
  </div>
</div>
<div class="mb-3">
  <label for="exampleFormControlInput1" class="form-label">Email address</label>
  <input type="email" class="form-control" id="exampleFormControlInput1" name="email" placeholder="name@example.com">
</div>
<div class="mb-3">
  <label for="exampleFormControlTextarea1" class="form-label">Example textarea</label>
  <textarea class="form-control" id="exampleFormControlTextarea1" rows="3"
  name="desc"></textarea>
</div>
<button class="btn btn-primary" type="submit"> Submit</button>
</form>
</div>
{% endblock body %}
